body{
    margin: 0px;
    background-color: #CFCFCF;
}

header{
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 220, 143);
    height: 6vw;
    font-size: 22pt;
}

footer{
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-size: 10pt;
    height: 2vw;
}

section label{
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    height: 15px;
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 25px;
}

button{

    /* margin: 2px auto;
    border-radius: 10%;
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 25px; */
}


#mapaCarteirinha > div {    
    margin:2; /*Defina a separacao das colunas aqui*/
    padding:0;
}
.linha{
    padding:0;
    clear:both;
}
.coluna{    
    height:25px;
    border: 1px solid #000000;
    width:120;      
    float:left;
}


